body {
    font-family: "Andale Mono", monospace;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: no-repeat center/contain url("https://stepik.org/media/attachments/lesson/374893/world.png");
    width: 90vw;
    margin: 4em auto;
}
.title {
    font-size: 1.3rem;
    text-align: center;
    color: black;
}
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 30em;
}
.card {
    padding: .5em;
    margin: 1em;
    text-align: center;
    width: 7em;
    height: 7em;
    transition: transform .8s;
    transform-style: preserve-3d;
}
.card:hover {
    transform: rotateY(180deg);
    cursor: pointer;
}
.front,
.back {
    display: flex;
    position: absolute;
    left: 0;
    align-items: center;
    justify-content: center;
    border-radius: .5em;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}
.front {
    z-index: 2;
    background-color: violet;
}

.back {
    z-index: 1;
    background-color: lightblue;
    transform: rotateY(180deg);
}